<h1><%= current_user.first_name %>'s Profile</h1>
<p>Username: <%= current_user.username %>
<p>Profile picture:<br><%= image_tag(current_user.avatar.url(:medium)) %></p>

<a href="<%= following_user_path(current_user) %>">
<strong id="following" class="stat">
  <%= current_user.following.count %>
</strong>
following
</a>
<a href="<%= followers_user_path(current_user) %>">
<strong id="followers" class="stat">
  <%= current_user.followers.count %>
</strong>
followers
</a>

<h2><%= current_user.first_name %>'s albums</h2>
<%= button_to "Create an album", new_album_path, method: :get %>
<% current_user.albums.each do |album| %>
	<p><%= link_to album.title, album_path(album) %></p>
<% end %>

<h2><%= current_user.first_name %>'s images</h2>
<%= button_to "Upload an image", new_image_path, method: :get %>
<% current_user.images.each do |image| %>
	<p><%= link_to image_tag(image.img.url(:thumb)), image_path(image) %></p>
<% end %>