<h1><%= @image.title %></h1>
<p>Uploaded by: <%= link_to @image.user.username, users_path(@image.user) %></p>
<p>Album: <%= link_to @image.album.title, album_path(@image.album) %></p>
<p><%= image_tag(@image.img) %>
<p><%= @image.caption %></p>